.container{
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows: repeat(3,250px);
}
.sidebar{
    background-color: rgb(60, 138, 234);
    color: #fff;
    grid-column: 1 / 1;
    grid-row: 1 / 4;
}

.sidebar-elements{
    list-style-type: none;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-rows: 50px auto auto auto 50px;
}

#dashboard{
    font-size: 150%;
}