.container{
    display: grid;
    grid-template-columns: repeat(10,200px);
    grid-template-rows: repeat(13,50px);
}
.sidebar{
    background-color: rgb(60, 138, 234);
    color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 13;
}

.sidebar-elements{
    list-style-type: none;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-rows: 50px auto auto auto 50px;
}

#dashboard{
    font-size: 150%;
}

/* Header section------------------------ */

.header{
    background-color: red;
    color: black;
    grid-column: 2 / 5;
    grid-row: 1 / 4;
}

.header-elements{
    display: inline-flex;
    gap: 50px;
}

