.container{
    display: inline-grid;
    grid-template: 40px 40px 40px 40px 40px 40px /40px 40px 40px 40px 40px 40px;
    background-color: lightskyblue;
}

.room{
    border: 1px solid black;
    font-size: 50%;
    text-align: center;
}

#living-room{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

#kitchen{
    grid-column: 5  /  7;
    grid-row: 3  /  7;
}

#bathroom{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 7;
}

#bedroom{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

#garage{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}